<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077290199957-unp0l060o0d00eoc97uklbq5g8ujm739.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077290199957-unp0l060o0d00eoc97uklbq5g8ujm739</string>
	<key>API_KEY</key>
	<string>AIzaSyDIoG0xHn4reGqRnaqHS97BWa_uSYoLDf8</string>
	<key>GCM_SENDER_ID</key>
	<string>1077290199957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubendv.marvelApp</string>
	<key>PROJECT_ID</key>
	<string>marvelapp-7a9e2</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelapp-7a9e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077290199957:ios:6e76c6d1867839bc5b649c</string>
</dict>
</plist>